:root {
    --color-primary: #44fd5d;
    --color-accent: #fffffa;
    --color-default: #363636;
    --color-background: #242424;
    --color-card: #1b1b1b;
    --color-text: #f9f9f9;
    --color-label: #aaaaaa;
    --color-disabled: #888888;
}

body {
    margin: 0;
    background-color: var(--color-background);
    font-family: 'Poppins', Arial, sans-serif;
    color: var(--color-text);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    line-height: 1;
}