:root {
    --color-primary: #44fd5d;
    --color-accent: #fffffa;
    --color-default: #363636;
    --color-background: #242424;
    --color-card: #1b1b1b;
    --color-text: #f9f9f9;
    --color-label: #aaaaaa;
    --color-disabled: #888888;
}

body {
    margin: 0;
    background-color: var(--color-background);
    font-family: 'Poppins', Arial, sans-serif;
    color: var(--color-text);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    line-height: 1;
}

.card {
    padding: 1rem;
    border-radius: 1rem;
    background: var(--color-card);
    cursor: pointer;
}

.container {
}

@media screen and (max-width: 600px){
    .container {
        width: 600px;
        margin: 2rem 1.5rem;
    }

    .row > .card-headline, .row > .card-list {
        flex-direction: column;
        align-items: center;
    }
    
}

@media screen and (min-width: 600px) {
    .container {
        width: 900px;
        margin: 0 auto;
        padding: 1rem;
    }

}

.card-h4 {
    z-index: 1;
    margin-bottom: 6px;
    font-weight: 400;
    color: var(--color-label);
}

.card-h3 {
    z-index: 1;
    text-align: center;
    margin-bottom: 1rem;
    color: var(--color-label);
    font-size: 1rem;
    font-weight: 500;
}


.card-headline-icon {
    display: grid;
    place-items: center;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    font-size: 2rem;
    color: var(--color-primary);
    background: rgba(255, 255, 255, 0.1);
}

.card-h2 {
    z-index: 1;
    font-size: 1.75rem;
    font-weight: 500;
}

.card-h2.center {
    text-align: center;
}

.row {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.card-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0.75rem;
    width: 50%;
}

.card-list-item {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}

.card-headline {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 25%;
}

.card-list-badge {
    translate: 0 2px;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
}

.card-list-badge.primary {
    background-color: var(--color-primary);
}

.card-list-badge.accent {
    background-color: var(--color-accent);
}

.card-list-badge.default {
    background-color: var(--color-default);
}

.card-progress {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 25%;
    gap: 3.5rem;
}

.card-progress-donut {
    position: relative;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background: conic-gradient(
        var(--color-primary) 0% 33%, 
        var(--color-default) 33% 100%
    );
}

.card-progress-donut::after {
    content: "";
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 85%;
    height: 85%;
    border-radius: inherit;
    background:var(--color-card);
}

.card-growth {
    width: 50%;
    padding: 1rem;
    text-align: center;
}

.card-circle {
    position: relative;
    display: grid;
    place-items: center;
    align-content: center;
    width: 5rem;
    height: 5rem;
    background: var(--color-default);
    border-radius: 50%;
    padding: 2.5rem;
}

.card-circle::after {
    position: absolute;
    content: "";
    width: 3.5rem;
    height: 3.5rem;
    top: 50%;
    left: 50%;
    padding: 2.5rem;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background: var(--color-card);
}

.card-growth-headline {
    margin-top: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card-bar-chart {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    margin-top: 5.5rem;
    background: repeating-linear-gradient(
        rgba(255, 255, 255, 0.075) 0% 0.5%,
        transparent 0.7% 20%
    );
}

.card-bar-chart > div {
    display: grid;
    place-items: end;
    background: var(--color-primary);
}


.card-bar-chart > div > div {
    width: 1rem;
}

.card-bar-primary {
    background:var(--color-primary);
}

.card-bar-default {
    background:var(--color-default);
}

.card-authors, .card-activity {
    width: 50%;
}

.card-h3.no-bottom-margin {
    margin-bottom: 0;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.avatar-list {
    list-style-type: none;
    padding: 0;
}

.avatar-list > li {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1.25rem;
}

.avatar {
    width: 3rem;
    height: 3rem;
}

li > img {
    border: 3px solid var(--color-default);
    border-radius: 50%;
}

.avatar-title, .avatar-notes {
    display: block;
    line-height: 1.5;
}

.avatar-title {
    font-size: 1rem;
    font-weight: 500;
}

.avatar-notes {
    color: var(--color-label);
    font-size: 0.875rem;
}

.loading-bar {
    position: relative;
    width: 100%;
    height: .5rem;
    background-color: var(--color-default);
    border-radius: 1rem;
}


.loading-bar::after {
    content: "";
    position: absolute;
    width: 64%;
    height: inherit;
    background-color: var(--color-primary);
    border-radius: inherit;
}

.timeline {
    margin-top: 1.25rem;
}

.timeline-row {
    position: relative;
    display: flex;
    gap: .75rem;
    margin-bottom: .75rem;
}

.timeline-when {
    width: 3.5rem;
    height: 3.5rem;
    min-width: 3.5rem;
    max-height: 3.5rem;
    font-size: 0.875rem;
}

.timeline-badge {
    margin-top: 1.5px 0.5rem 0;
    min-width: 0.75rem;
    max-width: 0.75rem;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    border: 3px solid var(--color-default);
    background: var(--color-card);
}

.timeline-row.primary .timeline-badge {
    border: 3px solid var(--color-primary);
}

.timeline-badge::after {
    position: absolute;
    content: '';
    top: 15px;
    left: 4.75rem;
    width: 2px;
    height: 100%;
    background-color: var(--color-default);
}


.timeline-text {
    color: var(--color-label);
    font-size: 0.875rem;
}

.timeline-row > span {
    color: var(--color-label);
}

.timeline-row.primary .timeline-text, .timeline-row.primary .timeline-when{
    color: var(--color-text);
}