:root {
    --color-primary: #44fd5d;
    --color-accent: #fffffa;
    --color-default: #363636;
    --color-background: #242424;
    --color-card: #1b1b1b;
    --color-text: #f9f9f9;
    --color-label: #aaaaaa;
    --color-disabled: #888888;
}

body {
    margin: 0;
    background-color: var(--color-background);
    font-family: 'Poppins', Arial, sans-serif;
    color: var(--color-text);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    line-height: 1;
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
    border-radius: 1rem;
    background: var(--color-card);
    cursor: pointer;
}

.container {
}

@media screen and (min-width: 600px) {
    .container {
        width: 900px;
        margin: 0 auto;
        padding: 1rem;
    }

}

.card-h4 {
    margin-bottom: 6px;
    font-weight: 400;
    color: var(--color-label);
}

.card-icon {
    display: grid;
    place-items: center;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    font-size: 2rem;
    color: var(--color-primary);
    background: rgba(255, 255, 255, 0.1);
}

.card-h2 {
    font-size: 1.75rem;
    font-weight: 500;
}

.row {
    display: flex;
    gap: 1rem;
}

.card-list {
    display: flex;
    gap: 1.75rem;
    width: 50%;
}

.card-list-item {
    display: flex;
    gap: 0.5rem;
}

.card-headline {
    width: 25%;
}

.card-list-badge {
    translate: 0 2px;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    
}

.card-list-badge.primary {
    background-color: var(--color-primary);
}

.card-list-badge.accent {
    background-color: var(--color-accent);
}

.card-list-badge.default {
    background-color: var(--color-default);
}

